@model IEnumerable<Jitter.Models.Jot>
@{
    Layout = "~/Views/Shared/_JitterLayout.cshtml";
}

<<<<<<< HEAD
<div ng-controller="TestController">
    <p>{{test}}</p>
    <button ng-click="hello()">Hello World</button>
=======
<div ng-controller="Controller">
    <p>{{test}}</p>
    <button ng-click="hello()">Click me!</button>
>>>>>>> 4edeb1fa679168e0ca6b2a99e69dbb6b4b1e00b7
</div>

@*foreach (var item in Model)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="jot">
                @item.Content
            </div>
        </div>
    </div>
}*@

@*for (int i = 0; i < 20; i++)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="jot">
                This is awesome content!
            </div>
        </div>
    </div>
}*@